
body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: cornflowerblue;
    width: 100%;
    padding: 1em;
    margin-bottom: 4em;
    display: flex;
}

#gmHeaderImg {
    height: 80px;
    width: 80px;
    margin-left: 10px;
}

#gmHeaderTitle {
    color: midnightblue;
    font-family: 'Happy Monkey', cursive;
    align-self: flex-end;
    margin-left: 15px;
}

.gmTitle {
    margin: 0px;
}

#inbox {
    display: flex;
    margin: 25px;
}

#summaryPane {
    flex: 1;
    display: block;
}

#expandEmail {
    flex: 2;
    flex-direction: column;
}

#inboxCount {
    text-align: right;
    width: 85%;
}

#mailBox {
    width: 85%;
    border: 2px solid black;
}

.mailDetail {
    border: 1px dashed lightgray;
    padding: 10px;
}

.subject {
    font-size: 1.2em;
}

.sender {
    font-style: italic;
}

.date {
    color: rgb(120, 120, 120);
}

#emailTitle {
    border-bottom: 2px solid black;
    padding-bottom: 2px;
    padding-left: 5px;
    margin-bottom: 10px;
}

#emailSubject {
    font-size: 1.2em;
    font-weight: bold;
}

#emailSender {
    font-style: italic;
}

#emailDate {
    color: rgb(120, 120, 120);
}